# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Dependencies
node_modules/
.vercel
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
